<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body style="background-color: lightgrey;"> <!-- Changes background colour of About Us page-->
    <br />
    <h1 id="myHeader" style="color: black; font-size: 5em; font-family:Century, Times, serif"><center>About Us</center></h1>

    <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1;">
            
            <br />
            <br />

            <p style="font-family: Century; text-align: justify; font-size:20px"> <!-- Explains the background of KhumaloCraft -->
                Welcome to KhumaloCraft Emporium, where tradition meets innovation in a global marketplace celebrating artists craftsmanship. Our platform connects artists worldwide with a joyful audience, offering a seamless shopping experience accessible from any corner of the globe.
                <br />
                <br />
                With a commitment to accessibility, scalability, and security, we provide a user friendly interface and advanced features such as search capabilities and personalized notifications. Join us on a journey of discovery and appreciation for handmade treasures, where every craft brings joy and tells a story.
            </p>

        </div>
        <div style="flex: 1;">
          

            <p> <center style="font-family: Century; font-size:20px">Founded by: James Khumalo</center></p>
            <center><img src="~/images/james khumalo.jpg" width="500" height="600" /></center>  <!-- Displays picture of "James Khumalo" -->
        </div>
    </div>
</body>

</html>
