@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: lightgrey;"> <!--Changes background colour for home page-->

    <div class="text-center">

        <h1 class="display-4" style="font-family:Century">KhumaloCraft Emporium</h1>
        <h3 style="font-family:Century">"Crafting Stories, Crafting Joys"</h3>
        <img src="~/images/khumalo craft logo.jpg" />

    </div>

</body>
